.home{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    
}


.home_image{
    z-index: 0;
    width: 200px;
    height: 200px;
    mask-image: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: -1;
    margin-bottom: -25px;
    min-width: 100vw;
    height: 750px;
    position: absolute;
    left:-15px; 
    top:100px;
    display: block; 
    
}


.home_image_leftArrow{
    position:absolute;
    top: 130px;
    z-index: 2;
    left: 10px; 
    background-color: rgba(255,255,255,0);
    border:none;
    height:250px;
    cursor: pointer;
    transform: scale(-1, 1);
}

.home_image_rightArrow{
    position:absolute;
    z-index: 1;
    right: 10px; 
    background-color: rgba(255,255,255,0);
    border:none;
    height:250px;
    cursor: pointer;
    top: 130px;
}

.home_row{
    display: flex;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 375px;
}
.home_row_second{
    display: flex;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
}
.home_imageContainer{
    box-sizing: border-box;
  
}



  