.product-content {
    display: flex;
    justify-content: start;
    padding: 50px;
    gap: 40px;
}


.product-img {
    width: 30vw;
    overflow: hidden;
    border: 1px solid rgb(228, 228, 228);
  }
  
  .product-img img {
    transition: transform .5s ease;
  }
  
  .product-img:hover img {
    transform: scale(1.3);
  }



.price {
    color: darkred;
    font-size: 24px;
}

.purchase_details {
    width:340px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    
}

.purchase_details > button{
    margin-top: 50px;
}

.product_details_button_1{
  margin: 0 auto;
  display: block;
  background-color: #FEE33C;
  height: 30px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.product_details_button_2{
  margin: 0 auto;
   display: block;
   background-color: #FF9900;
   height: 30px;
   border-radius: 10px;
   color: black;
   font-size: 18px;
   border: none;
   cursor: pointer;
 }
 .product_details_button_1:hover{
  background-color: #ead235;
 }

 .product_details_button_2:hover{
  background-color: #e78e09;
 }
 .product_reviews{
   margin: 0 auto;
  width: 90vw;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
 }

 .product_review{
  margin: 50px 0px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  border-radius: 20px;
  padding: 20px;
  padding-right: 140px;
 }

 .product-details{
  justify-content: space-around;
 }

 .product_star{
  float: left;
  position: relative;
  left: 50%;
  top: -30px;
  margin-bottom: 20px;
 }

 .product_review > p {
   margin-top: 20px;
 }

 .create_review{
  margin: 50px 0px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ddd;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
 
 }

 
 .create_review > button{
   display: block;
   margin: 0 auto; 
   margin-top: 20px;
   background-color: #FF9900;
   border-radius: 10px;
   font-size: 18px;
 }

 .create_review > textarea {
   height: 100px;
   width: 98%;
   font-size: 14px;
  
  
 }